<ion-header>
  <ion-navbar>
    <ion-title>
      Landing Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button
    (click)="buttonClicked()">
    Facebook Login
  </button>
</ion-content>
feaw
